<div class="list-group">
  <%= link_to "Profile Settings", edit_user_registration_path, class: "list-group-item archive" %>
  
  <%= link_to "Account Deletion", deletion_path, class: "list-group-item" %>
</div>
